@charset "utf-8";

/* CSS Document */
/*reset*/
body{line-height:1.4;background:white;}body,input,textarea,select{font-size:12px;color:#333;font-family:arial;}body,h1,h2,h3,h4,p,ul,ol,dl,dt,dd,input,button,form,tr,td,ul,li{margin:0;}dl,dt,dd{padding:0}h1,h2,h3,h4{ font-size:12px;}ul,ol,dd,li{padding-left:0;list-style-type:none;}a img{border:0;}a{ text-decoration:none; color:#000;} a:hover{ text-decoration:none; }
img{height:auto}
p,a,li,span{color:#999}

.main{min-width:100vw;min-height:100vh;justify-content: center;align-items:center}
.main_bg{background-color: #F5F6F9;width: 100%;height:100vh}
.mainLogo{height: 80px;}
.mainLogo img {height:40px;margin-top:20px;margin-left: 20px;}
.mainBox {max-width:100%;min-width:100px;height:550px;display:flex;justify-content: center;align-items:center}

.mainBoxR,.mainBoxL{width:480px;position: relative;border:1px solid}
.mainBoxL img{width:100%}

.mainBoxR{background-color: #fff;height:100%}

.login{padding:30px;}
/* 头部切换 */
.login .loginCodeSwite{height:80px;}
/* .login .loginCodeSwite{height:80px;} */

/* 二维码登录 */
.login .loginErcode{display: none;}
/* 账号登录 */
.login .loginWrite{}
.login .loginWrite .loginTop{width:100%;display: flex;justify-content: center;}
.loginTop .loginSwith li{ float: left;font-size: 20px;padding:15px;margin:10px;}
.loginTop .loginSwith li.active{color:#333;position: relative;}
.loginTop .loginSwith li.active::before{content: '';height:1px;width:40%;display: block;background-color: red;position: absolute;left:30%;bottom:5px}

.login .loginContent{}
.loginContent .inputBox{display: none;}
.loginContent .inputBox.active{display:block;}
.inputBox div{width:80%;margin:0 auto;position: relative;}
.inputBox .account{margin-bottom:40px}
.inputBox input{width:100%;border:none;border-bottom: 1px solid #999;height:40px;font-size: 16px;;}
.inputBox input:focus{border-color:red;outline: none;}
.inputBox p{position:absolute;bottom:8px;font-size: 16px;}